body {
  background: limegreen;
  font-size: 14px;
  font-family: YakuHanJP,Yu Gothic,YuGothic,YuGothic M,
   "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,Osaka, 
   "ＭＳ Ｐゴシック",MS PGothic,sans-serif;
}

.container {
  width: 400px;
  margin:60px auto;
  background: #ffffff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
 border: 1px solid #ccc;
 border-radius: 4px;
 padding: 10px;
 margin-bottom: 10px;
 cursor: pointer;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;

}

#choices > li.correct::after {
  content:'...correct';
}

#choices > li.wrong::after {
  content:'...wrong';
}

#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #000000;
  font-weight: bold;
}
#btn,#result > a {
  background: black;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px 2px gray;
}

#btn.disabled{
  background: #ccc;
  box-shadow: 4px 4px 4px #bbb;
  opacity: 0.7;
}

#result {
  position:absolute;
  width: 300px;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0px 4px 8px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden{
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block;
  text-decoration: none;
}